<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tapadul | Home</title>
	<link rel="shortcut icon" href="{{asset('images/favicon.png')}}">
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,300,300i,400,500,600,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{asset('font-awesome/css/font-awesome.min.css')}}">
	<link rel="stylesheet" href="{{asset('bootstrap/css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{asset('css/flexslider.css')}}">
	<link rel="stylesheet" href="{{asset('css/owl.carousel.css')}}">
	<link rel="stylesheet" href="{{asset('style.css')}}">
	<link rel="stylesheet" href="{{asset('css/responsive.css')}}">
</head>

<body>
	<div id="wrapper"><!-- start wrapper -->

		<footer>
			<div class="container">
				<div class="footer-area"><!-- start .footer-area -->
					<div class="row">
						<div class="col-sm-7">
							<div class="footer-logo clearfix">
								<figure>
									<img src="images/footer-logo.png" alt="" width="206" height="110">
								</figure>

								<div class="copyright">
									<p>All Rights Reserveed, 2020</p>
								</div>
							</div>
						</div>

						<div class="col-sm-5">
							<div class="social clearfix">
								<ul class="nav">
									<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
									<li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li>
									<li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div><!-- //end .footer-area -->
			</div>
		</footer>
	</div><!-- //end #wrapper -->

	<script src="{{asset('js/jquery.min.js')}}"></script>
	<script src="{{asset('bootstrap/js/popper.min.js')}}"></script>
	<script src="{{asset('bootstrap/js/bootstrap.min.js')}}"></script>
	<script src="{{asset('js/jquery.flexslider.js')}}"></script>
	<script src="{{asset('js/owl.carousel.min.js')}}"></script>
	<script src="{{asset('js/jquery.nicescroll.min.js')}}"></script>
	<script src="{{asset('js/custom.js')}}"></script>
</body>
</html>
