@media screen and (min-width: 1200px) {
	.container { max-width: 1200px; }
}
@media screen and (min-width: 1349px) {
	.order-area .star li span { width: 33%; }
	.container { max-width: 1349px; }
	.header-area nav ul li {
		font-size: 15.3px;
		line-height: 25px;
	}
	.header-area nav ul li a { padding: 15px 11px !important; }
	.header-top .logo {
		width: 100%;
		max-width: 200px;
		padding: 0 20px;
	}
	.logo-area form {
		padding: 0 20px;
		margin: 20px 0;
	}
	.logo-area form input {
		line-height: 45px;
		padding-left: 70px;
	}
	.logo-area {
		padding: 15px 0px;
		max-width: 790px;
	}
	.header-top-right ul li {
		margin: 0 15px;
		font-size: 15px;
	}
	.header-top-right {
		max-width: 400px!important;
		padding: 15px 5px 0 0;
	}
	.header-top-right ul { margin-bottom: 15px; }
	.logo-area form button { margin-top: 10px; }
	.header-top-right .user > figure {
		width: 67px;
		height: 66px;
		margin: 0 15px;
	}
	.header-top-right .user .user-name h5 { font-size: 16px; }
	.header-top-right .user { max-width: 180px; }
	.banner { padding: 75px 0; }
	.banner-info {
		padding-left: 0;
		padding-top: 70px;
	}
	.banner-info h1 {
		font-size: 60px;
		line-height: 65px;
	}
	.banner-info p {
		font-size: 44px;
		line-height: 60px;
	}
	.button-area { padding-top: 120px; }
	.banner-link {
		min-width: 205px;
		font-size: 21px;
		margin: 0 10px;
	}
	.header-area nav ul li { margin: 0 9px 0 8px !important; }
	.header-area { max-width: 1300px; }
	.banner-area { max-width: 1260px; }
	.seller-area { max-width: 1349px; }
	.seller-item { margin: 0 12px 30px 12px; }
	.seller-area .title {  padding: 0 20px }
	.seller-info h4 {
		font-size: 11px;
		line-height: 16px;
	}
	.user > figure {
		width: 50px;
		height: 49px;
	}
	.user-name {
		width: 75%;
	}
	.user-name .info h5 {
		font-size: 13px;
		margin-bottom: 5px;
	}
	.user-name .info p {
		font-size: 11px;
		line-height: 16px;
	}
	.seller-info { padding: 20px 15px 15px 15px; }
	.user-name > a figure { max-width: 30px; }
	.user-name { padding: 5px 0; }
	.price ul li {
		margin: 0 1px;
		font-size: 15px;
	}
	.price span {
		font-size: 26px;
		line-height: 30px;
	}
	.owl-carousel .owl-nav button.owl-next {
		right: -50px;
		width: 60px;
		height: 60px;
		background-size: 15px;
	}
	.owl-carousel .owl-nav button.owl-prev {
		left: -50px;
		width: 60px;
		height: 60px;
		background-size: 15px;
	}
	.user > figure::before {
		width: 15px;
		height: 15px;
	}
	.service-info h3 {
		font-size: 60px;
		line-height: 65px;
	}
	.service-info { max-width: 865px; }
	.service-info p {
		font-size: 25px;
		line-height: 40px;
	}
	.service-area-link {
		max-width: 265px;
		min-height: 50px;
		line-height: 50px;
		font-size: 23px;
		margin-top: 60px;
	}
	.explore-area { max-width: 1180px; }
	.explore .heading { padding: 0 20px; }
	.seller-area .title h4 {
		font-size: 25px;
		line-height: 40px;
	}
	.explore .heading h3 {
		font-size: 25px;
		line-height: 40px;
	}
	.explore-item h4 {
		font-size: 15px;
		line-height: 30px;
	}
	.explore-item figure {
		max-width: 100px;
		margin-bottom: 65px;
		margin-bottom: 45px;
	}
	.explore { padding: 75px 0; }
	.explore-item { margin-top: 50px; }
	.explore-item figure::after {
		left: 50%;
		width: 100px;
		bottom: -25px;
	}
	.special-links-item h4 {
		font-size: 28px;
		line-height: 40px;
		margin-bottom: 40px;
	}
	.special-links-item ul li {
		font-size: 18px;
		line-height: 34px;
	}
	.special-links { padding: 75px 0; }
	footer { padding: 25px 0 15px 0; }
	.footer-logo figure { padding: 0 25px; }
	.footer-logo figure {
		padding: 0 25px;
		max-width: 175px;
	}
	.copyright p {
		font-size: 18px;
		line-height: 30px;
	}
	.copyright { padding: 20px 0 25px 0; }
	.social ul {
		float: right;
		margin: 15px 0;
	}
	.social ul li.twitter img { max-width: 25px; }
	.social ul li.facebook img { max-width: 11px; }
	.social ul li.linkedin img { max-width: 22px; }
	.social ul li.linkedin img { max-width: 22px; }
	.social ul li.pinterest { margin-top: 0; }
	.social ul li.pinterest img { max-width: 24px; }
	.social ul li.inst img { max-width: 25px; }
	.social ul li.twitter { margin-right: 20px; }
	.social ul li.linkedin { margin: 3px 20px 0 20px; }
	.social ul li.inst { margin: 3px 25px 0 20px; }
	.logo-area form input::placeholder { font-size: 16px; }
	.logo-area form input.search {
		background-size: 27px;
		background-position: 20px 12px;
		width: 70px;
	}
	.sort {
		font-size: 18px;
		max-width: 1290px;
	}
	.filter form {
		max-width: 1050px;
		padding: 0 20px;
	}
	.filter form input::placeholder {
		font-size: 16px;
	}
	.filter form input.search {
		background-size: 27px;
		background-position: 20px 12px;
		width: 70px;
	}
	.filter form input {
		line-height: 45px;
		padding-left: 70px;
	}
	.filter form button { margin-top: 10px; }
	.filter form .form-group { width: 86%; }
	.filter form .form-group span { font-size: 18px; }
	.filter-area ul li a { padding: 0 30px; }
	.filter-area ul li {
		font-size: 16px;
		max-width: 145px;
		margin-right: 20px;
		border: 3px solid #17839e;
	}
	.switch-item span { font-size: 17px; }
	.filter-area ul li a { padding: 0 20px; }
	.switch-item { margin-left: 20px; }
	.filter-area { margin-bottom: 0; }
	.filter form { margin: 20px 0; }
	.sort { margin-bottom: 20px; }
	.filter { max-width: 1300px; }
	.slogan-area { max-width: 1260px; }
	.support-area {
		max-width: 1170px;
		margin: 0 auto;
	}
	.contact-form form { padding: 30px 20px; }
	.hero-info .button-area {
		margin: 200px auto 0 auto;
		max-width: 950px;
	}
	.slogan-area h2 {
		font-size: 50px;
		line-height: 60px;
		margin-bottom: 5px;
	}
	.slogan { padding: 50px 0; }
	.slogan-area p {
		font-size: 23px;
		line-height: 30px;
	}
	.hero-info h1 {
		font-size: 85px;
		line-height: 120px;
	}
	.hero-info h1 span { font-size: 96px; }
	.button-area .link {
		font-size: 30px;
		margin: 0 20px;
		height: 75px;
		line-height: 75px;
	}
	.support-area h3 {
		font-size: 30px;
		line-height: 55px;
	}
	.contact-form h3 {
		font-size: 30px;
		line-height: 55px;
	}
	.support-area p {
		font-size: 16px;
		line-height: 24px;
	}
	.contact-form form label {
		font-size: 16px;
		width: 32%;
		line-height: 45px;
	}
	.contact-form form input {
		width: 64%;
		line-height: 45px;
		padding: 0 15px;
	}
	.contact-form form textarea { min-height: 200px !important; }
	.support-area .social ul li {
		font-size: 26px;
		height: 50px;
		width: 40px;
		line-height: 50px;
	}
	.hero-info p {
		font-size: 25px;
		line-height: 40px;
	}
	.business-area { max-width: 1166px; }
	.social-area {
		max-width: 1166px;
		margin: 0 auto;
	}
	.business-area .item h2 {
		font-size: 50px;
		line-height: 60px;
		margin-bottom: 30px;
	}
	.business-area .item p {
		font-size: 16px;
		line-height: 30px;
	}
	.business-area .item { margin-bottom: 30px; }
	.business-area .item h3 {
		font-size: 24px;
		line-height: 44px;
		margin-bottom: 30px;
	}
	.social-area h3 {
		font-size: 33px;
		line-height: 44px;
		margin-bottom: 15px;
	}
	.social-area ul li {
		font-size: 26px;
		height: 50px;
		width: 50px;
		line-height: 50px;
	}
	.business-area { margin-bottom: 100px; }
	.business { padding: 50px 0 100px 0; }
	.tab-area { max-width: 1300px; }
	.tab-area ul { max-width: 740px; }
	.tab-area ul li {
		padding: 20px 30px 25px 30px;
		font-size: 20px;
	}
	.business { padding: 25px 0 50px 0; }
	.tab-content { padding-top: 100px; }
	.exchange-link a { padding: 0 20px; }
	.exchange-link {
		font-size: 18px;
		height: 40px;
		line-height: 40px;
	}
	.quote-link a { padding: 0 20px; }
	.quote-link {
		font-size: 16px;
		height: 30px;
		line-height: 30px;
	}
	.sidebar .item h5 {
		font-size: 16px;
		line-height: 24px;
	}
	.sidebar .item p { font-size: 16px; }
	.sidebar .item h4 { font-size: 20px; }
	.sidebar .item .rating {
		margin-top: 10px;
		margin-bottom: 20px;
	}
	.sidebar .item > figure {
		width: 150px;
		height: 150px;
	}
	.sidebar .item ul { margin-bottom: 20px; }
	.sidebar .item ul li {
		line-height: 33px;
		font-size: 16px;
	}
	.sidebar .item > p {
		line-height: 21px;
		font-style: normal;
		font-size: 16px;
	}
	.contact-link {
		border: 2px solid #17839e;
		padding: 0 30px;
		line-height: 33px;
		height: 33px;
		margin-top: 20px;
	}
	.sidebar .item .rating ul { margin-bottom: 0; }
	.description-area h3 {
		font-size: 33px;
		line-height: 40px;
		margin-bottom: 20px;
	}
	.description-area { padding: 40px 0; }
	.name h5 {
		font-size: 18px;
		line-height: 20px;
		margin-bottom: 10px;
	}
	.name p {
		font-size: 16px;
		line-height: 19px;
	}
	.gig-info .info h4 {
		font-size: 18px;
		line-height: 42px;
	}
	.seller2-carousel .owl-nav button.owl-prev {
		left: -25px;
		width: 34px;
		height: 70px;
		border-radius: 10px;
		background-position: 10px center;
	}
	.seller2-carousel .owl-nav button.owl-next {
		right: -25px;
		width: 34px;
		height: 70px;
		border-radius: 10px;
		background-position: 10px center;
	}
	.seller2-carousel .seller-item { margin: 0 5px 30px 5px; }
	.gig-desc h4 {
		font-size: 30px;
		line-height: 46px;
		margin-bottom: 12px;
	}
	.gig-desc p {
		font-size: 17px;
		font-weight: 300;
		line-height: 25px;
	}
	.main-wrap .info h5 {
		font-size: 21px;
		line-height: 30px;
		margin-bottom: 10px;
	}
	.main-wrap .info p { font-size: 18px; }
	.main-wrap .info { margin-bottom: 30px; }
	.item .contact-form form input { width: 50%; }
	.item .contact-form form label {
		width: 44%;
		font-style: italic;
	}
	.policy-info h3 {
		font-size: 60px;
		line-height: 65px;
	}
	.policy-info { max-width: 865px; }
	.policy-info p {
		font-size: 25px;
		line-height: 40px;
	}
	.policy-area-link {
		max-width: 265px;
		min-height: 50px;
		line-height: 50px;
		font-size: 23px;
		margin-top: 60px;
	}
	.registration-area { max-width: 1260px; }
	.registration-form { padding: 60px 0 0 0; }
	.social-login-wrap .item h4 { font-size: 12px !important; }
	.registration-form h4 {
		font-size: 25px;
		line-height: 44px;
		margin-bottom: 50px;
	}
	.registration-form { padding: 75px 0 0 0; }
	.registration-form form label {
		font-size: 17px;
		line-height: 29px;
	}
	.registration-form form button {
		font-size: 20px;
		max-width: 200px;
		line-height: 40px;
		margin-top: 30px;
	}
	.sign-up-link {
		font-size: 20px;
		max-width: 200px;
		line-height: 40px;
		margin-top: 30px;
	}
	.social-login span {
		font-size: 15px;
		line-height: 33px;
		padding: 0 15px;
	}
	.social-login p {
		font-size: 16px;
		line-height: 36px;
	}
	.star ul li {
		line-height: 33px;
		font-size: 16px;
	}
	.top-info .name h5 { margin-bottom: 0; }
	.top-info .name span { font-size: 16px; }
	.reviews-box p {
		line-height: 25px;
		font-size: 16px;
	}
	.timeline p {
		font-size: 15px;
		line-height: 20px;
	}
	.reviews { padding: 30px 20px; }
	.reviews .heading .title h4 { font-size: 30px; }
	.reviews .heading .link { font-size: 16px; }
	.reviews .heading .link { max-width: 200px; }
	.chat_img::before {
		width: 12px;
		height: 12px;
	}
	.outgoing_msg_img::before {
		width: 12px;
		height: 12px;
	}
	.gig-user figure::before {
		width: 12px;
		height: 12px;
	}
	.chat_ib h5 {
		font-size: 16px;
		line-height: 20px;
	}
	.chat_ib h5 span {
		font-size: 16px;
		line-height: 20px;
	}
	.box p {
		font-size: 16px;
		line-height: 40px;
	}
	.user-info { margin-bottom: 10px; }
	.incoming_msg_img::before {
		width: 12px;
		height: 12px;
	}
	.send_withd_msg p {
		font-size: 17px;
		line-height: 24px;
	}
	.received_withd_msg p {
		font-size: 17px;
		line-height: 24px;
	}
	.msg-box-area .text {
		margin: 0 20px;
	}
	.menu-area { max-width: 1260px; }
	.menu ul li {
		font-size: 21px;
		line-height: 33px;
	}
	.massage-area-sidebar .icons { margin-bottom: 20px; }
	.massage-body .heading { margin-bottom: 75px; }
	.order-desc h4 {
		font-size: 20px;
		line-height: 30px;
		margin-bottom: 10px;
	}
	.order-desc p {
		font-size: 16px;
		font-weight: 300;
		line-height: 25px;
	}
	.order-area {
		max-width: 1260px;
	}
}
@media screen and (max-width: 1348px){
	.order-area .star li span { width: 35%; }
	.order-desc p {
		font-size: 16px;
		font-weight: 300;
		line-height: 25px;
	}
	.order-area {
		max-width: 1260px;
	}
	.gig-desc p {
		font-size: 17px;
		font-weight: 300;
		line-height: 25px;
	}
	.order-desc h4 {
		font-size: 20px;
		line-height: 30px;
		margin-bottom: 10px;
	}
	.contact-form form {
		padding: 30px 15px;
	}
	.header-area nav ul li {
		font-size: 15px;
		line-height: 25px;
	}
	.header-area nav ul li {
		font-size: 14px;
		margin: 0 9px 0 8px !important;
	}
	.header-area nav ul li a {
		color: #193142 !important;
		padding: 20px 7px !important;
	}
	.header-top .logo {
		max-width: 180px;
		padding: 0 10px;
	}
	.logo-area form input {
		line-height: 40px;
		padding-left: 70px;
	}
	.logo-area form input.search {
		background-size: 27px;
		background-position: 20px 8px;
		width: 70px;
	}
	.logo-area form {
		padding: 0 20px;
		margin: 20px 0;
	}
	.header-top-right ul li {
		margin: 0 15px;
		font-size: 15px;
	}
	.header-top-right .user .user-name h5 { font-size: 16px; }
	.header-top-right .user > figure {
		width: 67px;
		height: 66px;
		margin: 0 15px;
	}
	.header-top-right {
		max-width: 385px;
		padding: 15px 5px 0 0;
	}
	.header-top-right ul { margin-bottom: 15px; }
	.logo-area {
		padding: 15px 0px;
		max-width: 770px;
	}
	.header-top-right .user { max-width: 180px; }
	.logo-area form input::placeholder { font-size: 16px; }
	.logo-area form button { margin-top: 4px; }
	.banner-info h1 {
		font-size: 52px;
		line-height: 60px;
	}
	.banner-info p {
		font-size: 46px;
		line-height: 60px;
	}
	.banner-info {
		padding-top: 80px;
		padding-left: 30px;
	}
	.banner-link { font-size: 24px; }
	.banner-link { min-width: 225px; }
	.seller-area .title h4 {
		font-size: 30px;
		line-height: 44px;
	}
	.seller-item { margin: 0 10px 30px 10px; }
	.user > figure {
		width: 60px;
		height: 60px;
	}
	.price span { font-size: 25px; }
	.price ul li {
		margin: 0 1px;
		font-size: 20px;
	}
	.seller-info h4 {
		font-size: 16px;
		margin-bottom: 20px;
	}
	.user-name { width: 75%; }
	.service-info h3 {
		font-size: 60px;
		line-height: 65px;
	}
	.service-info { max-width: 865px; }
	.service-info p {
		font-size: 25px;
		line-height: 40px;
	}
	.service-area-link {
		max-width: 265px;
		min-height: 50px;
		line-height: 50px;
		font-size: 23px;
		margin-top: 60px;
	}
	.explore-item figure {
		max-width: 100px;
		margin-bottom: 65px;
		margin-bottom: 45px;
	}
	.explore-item {
		margin-top: 50px;
	}
	.explore-item h4 {
		font-size: 15px;
		line-height: 30px;
	}
	.explore-item figure::after {
		left: 50%;
		width: 100px;
		bottom: -25px;
	}
	.special-links-item h4 {
		font-size: 28px;
		line-height: 40px;
		margin-bottom: 40px;
	}
	.special-links-item ul li {
		font-size: 18px;
		line-height: 34px;
	}
	.footer-logo figure {
		padding: 0 25px;
		max-width: 175px;
	}
	.copyright p {
		font-size: 18px;
		line-height: 30px;
	}
	.social ul li {
		min-width: 50px;
		font-size: 30px;
	}
	.explore .heading h3 {
		font-size: 25px;
		line-height: 40px;
	}
	footer { padding: 25px 0 15px 0; }
	.hero-info h1 {
		font-size: 85px;
		line-height: 120px;
	}
	.button-area .link {
		font-size: 30px;
		margin: 0 20px;
		height: 75px;
		line-height: 75px;
	}
	.tab-area ul li {
		padding: 20px 30px 25px 30px;
		font-size: 20px;
	}
	.tab-area ul { max-width: 740px; }
	.hero-info .button-area {
		margin: 150px auto 0 auto;
		max-width: 950px;
	}
	.business { padding: 25px 0 50px 0; }
	.business-area .item h2 {
		font-size: 50px;
		line-height: 60px;
		margin-bottom: 40px;
	}
	.business-area .item p {
		font-size: 18px;
		color: #17839e;
		line-height: 30px;
	}
	.social-area h3 {
		font-size: 33px;
		line-height: 40px;
		margin-bottom: 30px;
	}
	.social-area ul li {
		font-size: 26px;
		height: 50px;
		width: 50px;
		line-height: 50px;
	}
	.tab-content { padding-top: 50px; }
	.business-area .item h3 {
		margin-bottom: 20px;
	}
	.slogan-area h2 {
		font-size: 50px;
		line-height: 60px;
		margin-bottom: 5px;
	}
	.slogan-area p {
		font-size: 23px;
		line-height: 30px;
	}
	.slogan { padding: 50px 0; }
	.slogan-area p {
		font-size: 23px;
		line-height: 30px;
	}
	.hero-info h1 {
		font-size: 85px;
		line-height: 120px;
	}
	.hero-info h1 span { font-size: 96px; }
	.button-area .link {
		font-size: 30px;
		margin: 0 20px;
		height: 75px;
		line-height: 75px;
	}
	.support-area h3 {
		font-size: 30px;
		line-height: 55px;
	}
	.support-area p {
		font-size: 16px;
		line-height: 24px;
	}
	.contact-form form label {
		font-size: 16px;
		width: 32%;
		line-height: 45px;
	}
	.contact-form form input {
		width: 64%;
		line-height: 45px;
		padding: 0 15px;
	}
	.contact-form form textarea { min-height: 200px !important; }
	.business-area { margin-bottom: 100px; }
	.filter form .form-group { width: 86%; }
	.filter form input {
		line-height: 45px;
		padding-left: 70px;
	}
	.filter form button { margin-top: 10px; }
	.filter form .form-group { width: 86%; }
	.filter form .form-group span { font-size: 18px; }
	.filter-area ul li a { padding: 0 30px; }
	.filter-area ul li {
		font-size: 16px;
		max-width: 145px;
		margin-right: 20px;
		border: 3px solid #17839e;
		margin-bottom: 10px;
	}
	.switch-item span { font-size: 17px; }
	.filter-area ul li a { padding: 0 20px; }
	.switch-item { margin-left: 20px; }
	.filter-area { margin-bottom: 0; }
	.filter form { margin: 20px 0; }
	.sort { margin-bottom: 20px; }
	.filter { max-width: 1300px; }
	.filter form input.search {
		background-size: 27px;
		background-position: 20px 12px;
		width: 70px;
	}
	.switch-item {margin-left: 0px;}
	.exchange-link a { padding: 0 20px; }
	.exchange-link {
		font-size: 18px;
		height: 40px;
		line-height: 40px;
	}
	.quote-link a { padding: 0 20px; }
	.quote-link {
		font-size: 16px;
		height: 30px;
		line-height: 30px;
	}
	.sidebar .item h5 {
		font-size: 16px;
		line-height: 24px;
	}
	.sidebar .item p { font-size: 16px; }
	.sidebar .item h4 { font-size: 20px; }
	.sidebar .item .rating {
		margin-top: 10px;
		margin-bottom: 20px;
	}
	.sidebar .item > figure {
		width: 150px;
		height: 150px;
	}
	.sidebar .item ul { margin-bottom: 20px; }
	.sidebar .item ul li {
		line-height: 33px;
		font-size: 16px;
	}
	.sidebar .item > p {
		line-height: 21px;
		font-style: normal;
		font-size: 16px;
	}
	.contact-link {
		border: 2px solid #17839e;
		line-height: 33px;
		height: 33px;
		margin-top: 20px;
	}
	.contact-link a {
		padding: 0 30px;
	}
	.sidebar .item .rating ul { margin-bottom: 0; }
	.description-area h3 {
		font-size: 20px;
		line-height: 30px;
		margin-bottom: 20px;
	}
	.description-area { padding: 40px 0; }
	.name h5 {
		font-size: 18px;
		line-height: 20px;
		margin-bottom: 10px;
	}
	.name p {
		font-size: 16px;
		line-height: 19px;
	}
	.gig-desc h4 {
		font-size: 30px;
		line-height: 46px;
		margin-bottom: 12px;
	}
	.gig-desc p {
		font-size: 17px;
		font-weight: 300;
		line-height: 25px;
	}
	.main-wrap .info h5 {
		font-size: 21px;
		line-height: 30px;
		margin-bottom: 10px;
	}
	.main-wrap .info p { font-size: 18px; }
	.main-wrap .info { margin-bottom: 30px; }
	.item .contact-form form input { width: 50%; }
	.item .contact-form form label {
		width: 44%;
		font-style: italic;
	}
	.revision h4 { font-size: 14px !important; }
	.banner-info {
		padding-left: 0;
		padding-top: 70px;
	}
	.banner-info h1 {
		font-size: 60px;
		line-height: 65px;
	}
	.banner-info p {
		font-size: 44px;
		line-height: 60px;
	}
	.policy-info h3 {
		font-size: 60px;
		line-height: 65px;
	}
	.policy-info { max-width: 865px; }
	.policy-info p {
		font-size: 25px;
		line-height: 40px;
	}
	.policy-area-link {
		max-width: 265px;
		min-height: 50px;
		line-height: 50px;
		font-size: 23px;
		margin-top: 60px;
	}
	.registration-area { max-width: 1260px; }
	.registration-form { padding: 60px 0 0 0; }
	.social-login-wrap .item h4 { font-size: 12px !important; }
	.registration-form h4 {
		font-size: 25px;
		line-height: 44px;
		margin-bottom: 50px;
	}
	.registration-form { padding: 75px 0 0 0; }
	.registration-form form label {
		font-size: 17px;
		line-height: 29px;
	}
	.registration-form form button {
		font-size: 20px;
		max-width: 200px;
		line-height: 40px;
		margin-top: 30px;
	}
	.sign-up-link {
		font-size: 20px;
		max-width: 200px;
		line-height: 40px;
		margin-top: 30px;
	}
	.social-login span {
		font-size: 15px;
		line-height: 33px;
		padding: 0 15px;
	}
	.social-login p {
		font-size: 16px;
		line-height: 36px;
	}
	.social-login-wrap .item h4 { line-height: 20px; }
	.social-login-wrap .item figure {margin-bottom: 10px;}
	.top-info .name h5 { margin-bottom: 0; }
	.top-info .name span { font-size: 16px; }
	.reviews-box p {
		line-height: 25px;
		font-size: 16px;
	}
	.timeline p {
		font-size: 15px;
		line-height: 20px;
	}
	.reviews { padding: 30px 20px; }
	.reviews .heading .title h4 { font-size: 30px; }
	.reviews .heading .link { font-size: 16px; }
	.reviews .heading .link { max-width: 200px; }
	.user-info > figure::before {
		width: 12px;
		height: 12px;
	}
	.gig-user figure::before {
		width: 12px;
		height: 12px;
	}
	.user-info .user-name h5 {
		font-size: 16px;
		line-height: 20px;
	}
	.user-info .user-name span {
		font-size: 16px;
		line-height: 20px;
	}
	.box p {
		font-size: 16px;
		line-height: 20px;
	}
	.user-info { margin-bottom: 10px; }
	.msg-box-area > figure::before {
		width: 12px;
		height: 12px;
	}
	.msg-box-area .text p {
		font-size: 18px;
		line-height: 24px;
	}
	.msg-box-area .text {
		margin: 0 20px;
	}
	.menu-area { max-width: 1260px; }
	.menu ul li {
		font-size: 21px;
		line-height: 33px;
	}
	.massage-area-sidebar .icons { margin-bottom: 20px; }
	.massage-body .heading { margin-bottom: 75px; }
	.star ul li {
		line-height: 33px;
		font-size: 16px;
	}
	.copyright { padding: 20px 0 25px 0; }
	.social ul { margin: 15px 0; }
	.special-links { padding: 75px 0; }
	.special-links-item.category { padding: 0 5px; }
	.special-links-item.about { padding: 0 5px; }
	.special-links-item.support { padding: 0 5px; }
	.special-links-item.community { padding: 0 5px; }

	.chat_ib h5 {
		font-size: 16px;
		line-height: 20px;
	}
	.incoming_msg_img::before {
		width: 12px;
		height: 12px;
	}
	.chat_img::before {
		width: 12px;
		height: 12px;
	}
	.outgoing_msg_img::before {
		width: 12px;
		height: 12px;
	}
	.chat_ib h5 span {
		font-size: 16px;
		line-height: 20px;
	}
}
@media screen and (max-width: 1199px){
	.order-area .star li span { width: 40%; }
	.mesgs {
		margin-left: 0;
		margin-top: 50px;
	}
	.massage {
		padding: 50px 0;
	}
	.chat_img {
		width: initial;
	}
	.mesgs {
		width: 100%;
	}
	.inbox_people {
		width: 100%;
	}
	.menu {
		margin-top: 35px;
	}
	.policy-area-link {
		max-width: 250px;
		font-size: 20px;
	}
	.policy-info h3 {
		font-size: 50px;
		line-height: 60px;
	}
	.policy-info p {
		font-size: 20px;
		line-height: 28px;
	}
	.header-top .logo {
		max-width: 130px;
		padding: 0;
	}
	.logo-area form input { padding-left: 60px; }
	.logo-area form button {
		margin-top: 6px;
		line-height: 38px;
		padding: 0 25px;
		margin-left: 10px;
	}
	.header-top-right ul li {
		margin: 0 10px;
		font-size: 14px;
	}
	.logo-area form { margin: 15px 0; }
	.logo-area form input { line-height: 38px; }
	.header-top-right {
		max-width: 325px;
		padding: 15px 0 0 0;
	}
	.logo-area { max-width: 680px; }
	.container { max-width: 1050px; }
	header {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		z-index: 9999;
	}
	.banner { margin-top: 170px; }
	.header-area nav ul li a { padding: 10px 8px !important; }
	.header-top-right .user > figure {
		width: 60px;
		height: 59px;
	}
	.banner-link {
		font-size: 18px;
	}
	.banner-link {
		min-width: 200px;
		line-height: 46px;
	}
	.banner-info h1 {
		font-size: 44px;
		line-height: 55px;
	}
	.banner-info p {
		font-size: 33px;
		line-height: 50px;
	}
	.explore {
		padding: 75px 0;
	}
	.user-name .info h5 {
		font-size: 14px;
		line-height: 14px;
		margin-bottom: 0;
	}
	.user > figure {
		width: 50px;
		height: 50px;
	}
	.user > figure::before {
		width: 10px;
		height: 10px;
	}
	.owl-carousel .owl-nav button.owl-prev {
		left: -40px;
		width: 60px;
		height: 60px;
		background-position: 17px 20px;
		background-size: 15px;
	}
	.owl-carousel .owl-nav button.owl-next {
		right: -40px;
		width: 60px;
		height: 60px;
		background-position: 24px 18px;
		background-size: 15px;
	}
	header { padding-bottom: 15px; }
	.button-area .link {
		font-size: 25px;
		height: 60px;
		line-height: 60px;
		max-width: 300px;
	}
	.hero-info .button-area {
		max-width: 685px;
		margin: 50px auto 0 auto;
		padding-top: 150px;
	}
	.hero-info h1 {
		font-size: 65px;
		line-height: 70px;
	}
	.hero-info p {
		font-size: 30px;
		line-height: 36px;
	}
	.hero { margin-top: 170px; }
	.tab-area ul li {
		padding: 20px;
		font-size: 18px;
		line-height: 45px;
	}
	.business-area .item h2 {
		font-size: 36px;
		line-height: 45px;
		margin-bottom: 30px;
	}
	.business-area .item p {
		font-size: 16px;
		line-height: 25px;
	}
	.business-area .item { margin-bottom: 30px; }
	.business-area { margin-bottom: 70px }
	.social-area h3 {
		font-size: 25px;
		line-height: 33px;
		margin-bottom: 15px;
	}
	.social-area ul li {
		font-size: 22px;
		height: 40px;
		width: 40px;
		line-height: 40px;
	}
	.slogan { margin-top: 170px; }
	.slogan-area h2 {
		font-size: 36px;
		line-height: 45px;
		margin-bottom: 0;
	}
	.slogan-area p {
		font-size: 20px;
		line-height: 25px;
	}
	.hero-info h1 span { font-size: 65px; }
	.contact-form form label {
		font-size: 13px;
		line-height: 36px;
		width: 34%;
	}
	.contact-form form input {
		width: 62%;
		line-height: 36px;
	}
	.contact-form form { padding: 44px 20px 43px 20px; }
	.contact-form form input::placeholder { font-size: 15px; }
	.contact-form form textarea::placeholder { font-size: 15px; }
	.support-area p { font-size: 15px; }
	.support-area .social ul li {
		font-size: 22px;
		height: 50px;
		width: 50px;
		line-height: 50px;
		margin-right: 7px;
	}
	.description { margin-top: 170px; }
	.description-area h3 {
		font-size: 25px;
		line-height: 40px;
		margin-bottom: 15px;
	}
	.gig-info .info { padding-left: 50px; }
	.gig-info .info h4 {
		font-size: 18px;
		line-height: 40px;
	}
	.gig-desc p { font-size: 16px; }
	.gig-desc h4 {
		font-size: 25px;
		line-height: 40px;
		margin-bottom: 10px;
	}
	.sidebar .item > p { font-size: 14px; }
	.sidebar .item ul li { font-size: 14px; }
	.main-wrap .info h5 {
		font-size: 18px;
		line-height: 25px;
		margin-bottom: 5px;
	}
	.main-wrap .info p {
		font-size: 16px;
		line-height: 20px;
	}
	.seller-info h4 { font-size: 15px; }
	.sidebar .item p { font-size: 15px; }
	.exchange-link { font-size: 15px; }
	.sidebar .item h4 { font-size: 18px; }
	.sidebar .item > figure {
		width: 120px;
		height: 120px;
	}
	.quote-link { font-size: 15px; }
	#video-slider .flex-direction-nav .flex-next {
		right: -40px;
		height: 50px;
		width: 50px;
		background-size: 12px;
	}
	#video-slider .flex-direction-nav .flex-prev {
		left: -40px;
		height: 50px;
		width: 50px;
		background-size: 12px;
	}
	.filter-area ul li {
		font-size: 14px;
		max-width: 130px;
		border: 2px solid #17839e;
	}
	.sort { font-size: 18px; }
	.switch-item { float: right; }
	.pagination ul li {
		font-size: 20px;
		margin: 0 9px;
	}
	.menu ul li {
		font-size: 18px;
		line-height: 33px;
	}
	.massage { margin-top: 170px; }
	.user-info > figure {
		float: left;
		width: 50px;
	}
	.user-info .user-name h5 {
		font-size: 14px;
		margin-bottom: 0;
	}
	.user-info .user-name span {
		font-size: 14px;
		line-height: 20px;
	}
	.massage-body .heading .user-name { width: 80%; }
	.box p {
		font-size: 15px;
		line-height: 20px;
	}
	.box { border: 2px solid #cfcfcf; }
	.massage-body form button {
		font-size: 18px;
		max-width: 170px;
		height: 40px;
		line-height: 40px;
	}
	.seller2 { margin-top: 170px; }
	.filter form .form-group { width: 84%; }
	.description {
		margin-top: 170px;
	}
}
@media screen and (max-width: 1035px){
	.logo-area { max-width: 637px; }
	.logo-area form {
		width: 100%;
		max-width: 506px;
	}
	.logo-area form .form-group {
		width: 100%;
		max-width: 345px;
	}
	.banner-info h1 { font-size: 50px; }
	.seller-info { padding: 21px 15px 17px 15px; }
	.user > figure {
		width: 50px;
		height: 50px;
	}
	.special-links-item ul li {
		font-size: 16px;
		line-height: 30px;
	}
	.special-links-item h4 {
		font-size: 24px;
		line-height: 33px;
		margin-bottom: 30px;
	}
	.service-info h3 {
		font-size: 53px;
		line-height: 60px;
	}
	.service-info p {
		font-size: 22px;
		line-height: 40px;
	}
	.owl-carousel .owl-nav button.owl-prev {
		left: -40px;
		width: 50px;
		height: 50px;
		background-position: 15px 15px;
		background-size: 13px;
	}
	.owl-carousel .owl-nav button.owl-next {
		right: -40px;
		width: 50px;
		height: 50px;
		background-position: 20px 15px;
		background-size: 13px;
	}
	.seller-area .title h4 {
		font-size: 25px;
		line-height: 40px;
	}
	.support-area { margin-left: 0; }
}
@media screen and (max-width: 991px){
	.order-area .star li span { width: 45%; }
	.order .sidebar .item {
		display: block;
	}
	.mesgs {
		padding: 20px;
	}
	.filter form input.search {
		background-size: 18px;
	}
	.filter form input {
		line-height: 38px;
	}
	.filter form input::placeholder {
		font-size: 18px;
	}
	.delivery h4 {
		font-size: 13px !important;
	}
	#video-slider .flex-direction-nav .flex-next {
		height: 60px;
		width: 60px;
	}
	#video-slider .flex-direction-nav .flex-prev {
		height: 60px;
		width: 60px;
	}
	.filter form .form-group { width: 80%; }
	.reviews .heading .title h4 { font-size: 25px; }
	.policy-info h3 {
		font-size: 35px;
		line-height: 45px;
	}
	.play { width: 100px; }
	.rating { margin-top: 10px; }
	.gig-info .info {
		padding-left: 20px;
		padding-top: 22px;
	}
	.gig-info .info h4 {
		font-size: 16px;
		line-height: 24px;
	}
	.name p {
		font-size: 15px;
		line-height: 19px;
	}
	.name { padding-right: 25px; }
	.name h5 {
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 5px;
	}
	.gig-desc p { font-size: 15px; }
	.logo-area form {
		max-width: 82%;
		padding-right: 0;
	}
	.logo-area { max-width: 100%; }
	.logo-area form .form-group { max-width: 79%; }
	.header-top-right { padding: 0; }
	.logo-area { padding: 15px 0 0 0; }
	.banner-info h1 { font-size: 39px; }
	.banner-info p {
		font-size: 30px;
		line-height: 40px;
	}
	.button-area { max-width: 100%; }
	.banner-link { min-width: 150px; }
	.header-top-right ul { margin-bottom: 0; }
	.service-info h3 {
		font-size: 45px;
		line-height: 50px;
	}
	.service-info p {
		font-size: 19px;
		line-height: 30px;
	}
	.service-area-link {
		max-width: 250px;
		font-size: 20px;
		margin-top: 60px;
	}
	.service > figure { overflow: hidden; }
	.service > figure img {
		width: 991px;
		height: 392px;
		max-width: initial;
	}
	.explore-item h4 { font-size: 14px; }
	.special-links-item h4 { font-size: 20px; }
	.special-links-item ul li { font-size: 14px; }
	.footer-logo figure {
		padding: 0 10px 0 0;
		max-width: 128px;
	}
	.copyright { padding: 12px 0; }
	.social ul { margin: 10px 0; }
	.social ul li {
		min-width: 35px;
		font-size: 23px;
	}
	.explore-item figure { max-width: 80px; }
	.special-links-item.category { margin-bottom: 30px; }
	.special-links-item.about { margin-bottom: 30px; }
	.contact-form form label { font-size: 12px; }
	.header-top-right {
		margin-bottom: -35px;
	}
	.description {
		margin-top: 170px;
	}
}
@media screen and (max-width: 767px){
	.inbox_people {
		padding: 20px 0 20px 10px;
		border: 0;
	}
	.sent_msg {
		width: 75%;
	}
	.received_withd_msg {
		width: 75%;
	}
	.filter form input.search {
		background-size: 16px;
	}
	.filter form input {
		line-height: 34px;
	}
	.filter form input::placeholder {
		font-size: 16px;
	}
	#video-slider .flex-direction-nav .flex-next {
		height: 50px;
		width: 50px;
	}
	#video-slider .flex-direction-nav .flex-prev {
		height: 50px;
		width: 50px;
	}
	.filter form .form-group { width: 72%; }
	.logo-area form { max-width: 76%; }
	.logo-area form .form-group { max-width: 70%; }
	.banner-info { padding-top: 0; }
	.button-area {
		max-width: 565px;
		padding-top: 50px;
		margin-bottom: 50px;
	}
	.banner-link {
		font-size: 16px;
		height: 40px;
		line-height: 36px;
		border: 2px solid #fff;
	}
	.copyright p { font-size: 14px; }
	.seller-area .title h4 { font-size: 20px; }
	.seller-info h4 { font-size: 15px; }
	.price span { font-size: 20px; }
	.price ul li { font-size: 16px; }
	.service-info h3 {
		font-size: 34px;
		line-height: 40px;
	}
	.service-area-link {
		max-width: 220px;
		font-size: 17px;
		margin-top: 50px;
	}
	.hero-info h1 {
		font-size: 50px;
		line-height: 55px;
	}
	.hero-info p {
		font-size: 22px;
		line-height: 30px;
	}
	.button-area .link {
		font-size: 20px;
		height: 50px;
		line-height: 50px;
		max-width: 300px;
	}
	.hero-info .button-area { padding-top: 100px; }
	.tab-area ul li {
		font-size: 16px;
		line-height: 40px;
	}
	.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active { border-bottom: 3px solid #1787a3; }
	.business-area .item p { font-size: 15px; }
	.special-links-item.support { margin-bottom: 30px; }
	.hero > figure { overflow: hidden; }
	.hero > figure img {
		width: 767px;
		height: 504px;
		max-width: initial;
	}
	.button-area .link {
		max-width: 233px;
		line-height: 42px;
		border-radius: 15px;
	}
	.hero-info .button-area {
		max-width: 546px;
		margin: 0 auto;
	}
	.support-area .social { margin-left: 0; }
	.contact-form { margin-top: 30px; }
	.support-area .social ul li {
		height: 45px;
		width: 45px;
		line-height: 45px;
		margin-right: 7px;
	}
	.support-area h3 {
		font-size: 25px;
		line-height: 40px;
	}
}
@media screen and (max-width: 575px){
	.order-area .star li span { width: 66%; }
	.order-item {
		padding: 20px 15px;
	}
	.filter {padding: 0;}
	.sort {font-size: 16px;}
	.switch-item span {font-size: 15px;}
	.filter-area ul li {
		line-height: 30px;
	}
	.filter form button {
		font-size: 14px;
		line-height: 30px;
	}
	.filter form input.search {
		background-size: 15px;
		background-position: 18px 8px;
	}

	.filter form input {
		line-height: 30px;
	}
	.filter form input::placeholder {
		font-size: 14px;
	}
	.box p {
		display: none;
	}
	.menu ul li { margin: 0 15px; }
	.massage { margin-top: 297px; }
	.description { margin-top: 297px; }
	.freelancer-rate .item h4 { text-align: center; }
	.freelancer-rate figure {
		display: table;
		margin: 0 auto 25px auto;
	}
	.copyright {
		float: none;
		display: table;
		margin: 0 auto;
	}
	.footer-logo figure {
		float: none;
		display: table;
		margin: 0 auto;
	}
	.social {
		display: table;
		margin: 0 auto;
	}
	.social ul li { text-align: center; }
	.social ul { margin: 0; }
	.special-links-item.support { margin-bottom: 30px; }
	.explore .heading h3 { text-align: center; }
	.hero-info .button-area { max-width: 350px; }
	.button-area .link {
		max-width: 100%;
		margin: 0 0 10px 0;
	}
	.header-top .logo {
		margin: 0 auto;
		float: none;
	}
	.logo-area form .form-group { max-width: 100%; }
	.logo-area form .form-group {
		max-width: 75%;
		margin-right: 15px;
	}
	.tab-area ul li { padding: 10px 20px; }
	.logo-area form button { margin-left: 0; }
	.hero { margin-top: 297px; }
	.business-area .item h2 {
		font-size: 30px;
		line-height: 36px;
	}
	.business-area .item h3 { font-size: 20px; }
	.social-area h3 { font-size: 23px; }
	.slogan { margin-top: 297px; }
	.banner { margin-top: 297px; }
	.filter form .form-group { width: 100%; }
	.filter form .form-group span { display: none; }
	.filter form button { margin-left: 0; }
	.pagination ul li { margin: 5px 9px; }
	.logo-area form .form-group {
		max-width: 75%;
		margin-right: 15px;
	}
	.logo-area form {
		max-width: 100%;
		padding: 0;
		margin-bottom: 0;
	}
	.logo-area form input::placeholder {
		font-size: 14px;
	}
	.logo-area form input.search {
		background-size: 20px;
		background-position: 20px 5px;
	}
	.header-top-right ul li {
		font-size: 13px;
	}
	.description {
		margin-top: 200px;
	}
	.main-wrap .info h5 {
		font-size: 16px;
	}
	.main-wrap .info p {
		font-size: 16px;
	}
	.sidebar .item h4 {
		line-height: 27px;
		margin-bottom: 0;
	}
	.contact-form form {
		padding: 44px 0 43px 0;
	}
	.description-area h3 {
		font-size: 20px;
		line-height: 30px;
		margin-bottom: 10px;
	}
	.seller-item {
		margin: 0 0 30px 0;
	}
	.user > figure {
		width: 40px;
		height: 40px;
	}
	.seller-container {
		padding: 0 !important;
	}
	.revision h4 { font-size: 13px !important; }
	.gig-info .info h4 {
		padding-left: 0;
	}
	.banner-info h1 {font-size: 36px;}
	.banner-link {
		margin: 0;
		width: 100%;
		margin-bottom: 10px;
	}
	.banner {margin-top: 200px;}
	.hero {margin-top: 200px;}
	.slogan { margin-top: 200px; }
	.contact-form form label { padding: 0 6px;}
	.filter form .form-group {
		width: 68%;
		margin-right: 10px;
	}
	.filter form button {
		padding: 0 20px;
		margin-top: 3px;
	}
}
@media screen and (max-width: 524px){
	.logo-area form input::placeholder {
		font-size: 12px;
	}
	.logo-area form .form-group {
		max-width: 64%;
		margin-right: 10px;
	}
	.logo-area form button {
		font-size: 13px;
	}
	.logo-area form input {
		line-height: 30px;
	}
	.logo-area form button {
		margin-top: 6px;
		line-height: 30px;
		height: 30px;
	}
}
