/*-- Css Reset-- */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,
p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,
dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,
tt,var,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,
label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
	padding:0;
    margin:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
}
body {
	font-family: 'Poppins';
	font-size: 16px;
	font-weight: 400;
	background: #fff;
	color: #000;
}
ul,ol { list-style:none; }
img,fieldset { border:none; }
a {text-decoration: none;}
a:hover { text-decoration:none; }
.skip { position:absolute; left:-9999px; }
article,aside,details,figcaption,figure,footer,
header,hgroup,main,nav,section,summary { display: block; }
figure { margin:0; padding:0; }
embed, iframe, object, video { max-width: 100%; }
input, textarea { -webkit-appearance: none; -webkit-border-radius: 0; }
img { max-width: 100%; height: auto; display: block; }
a {
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-ms-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	transition: all .5s ease-out;
}
[type="reset"], [type="submit"], button, html [type="button"] {
    -webkit-appearance: none;
}

/*==============================
	Page structure
================================*/
#wrapper {
	width: 100%;
	overflow: hidden;
}
.vertical-column {
	display: table;
	width: 100%;
	height: 100%;
}
.vertical-cell {
	display: table-cell;
	vertical-align: middle;
}
.bg-gray { background: #f3f3f3 !important; }
.bg-graylight { background: #f2f2f3 !important; }
.banner-info.login-signup h1 {
	color: #17839e !important;
}
.banner-info.login-signup p {
	color: #17839e !important;
	font-weight: 100;
	color: #193142;
}
.banner-info.login-signup .banner-link { overflow: hidden; }
.banner-info.login-signup .banner-link.bg { background: #17839e; }
.banner-info.login-signup .banner-link a { color: #17839e; }
.banner-info.login-signup .banner-link.shadow a {
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(0,0,0,0.2);
	box-shadow: inset 0px 2px 2px 0px rgba(0,0,0,0.2);
}

/*==============================
	header-area
================================*/
.header-top .logo {
	float: left;
	padding: 0 21px;
}
.logo-area {
	float: left;
	width: 100%;
	max-width: 1105px;
	padding: 38px 22px;
}
.logo-area .logo a { display: inline-block; }
.header-area nav ul li {
	font-size: 23.39px;
	font-weight: 500;
	line-height: 36px;
}
.header-area nav ul li.marketing { margin: 0 26px 0 28px; }
.header-area nav ul li.video { margin: 0 23px 0 18px; }
.header-area nav ul li.tech { margin: 0 19px 0 22px; }
.header-area nav ul li.lifestyle { margin: 0 2px 0 13px; }
.header-area nav ul li a {
	color: #193142 !important;
	padding: 20px 11px !important;
}
.logo-area form {
	float: left;
	padding: 0 42px;
	margin: 45px 0 40px 0;
}
.logo-area form .form-group {
	float: left;
	position: relative;
}
.logo-area form input {
	width: 100%;
	border: 2px solid #17839e;
	line-height: 58px;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	padding-left: 100px;
}
.logo-area form input::placeholder {
	font-size: 21.59px;
	font-weight: 300;
	font-style: italic;
	color: #b0b0b0;
}
.logo-area form input.search {
	background: url(images/search.png) no-repeat 24px 12px;
	width: 100px;
	position: absolute;
	top: 2px;
	left: 2px;
	z-index: 999;
}
.logo-area form button {
	font-size: 16.44px;
	font-weight: 500;
	float: left;
	background: #17839e;
	color: #fff;
	line-height: 41px;
	border: 0;
	border-radius: 40px;
	-webkit-border-radius: 40px;
	padding: 0 31px;
	margin-left: 20px;
	margin-top: 12px;
}
.header-top-right {
	float: right;
	width: 100%;
	max-width: 595px;
	padding: 27px 0 34px 0;
}
.header-top-right ul {
	margin-bottom: 38px;
	float: right;
}
.header-top-right ul li {
	margin: 0 27px;
	font-size: 21.56px;
	line-height: 34px;
}
.header-top-right ul li a {
	display: block;
	color: #193142;
}
.header-top-right .user {
	width: 100%;
	max-width: 235px;
}
.header-top-right .user > figure {
	float: left;
	width: 87px;
	height: 86px;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	margin: 0 20px;
}
.header-top-right .user .user-name {
	padding: 11px 0;
	float: left;
	width: initial;
}
.header-top-right .user .user-name h5 {
	font-size: 21.59px;
	line-height: 21px;
	color: #b0b0b0;
	margin-bottom: 5px;
}
.header-top-right .user .user-name h6 {
	font-weight: 300;
	font-style: italic;
	font-size: 14.65px;
	line-height: 13px;
	color: #a3a3a3;
}
.menu {
	padding: 21px 0;
	background: #17839e;
}
.menu ul li {
	font-size: 27.69px;
	line-height: 46px;
	margin: 0 40px;
}
.massage-area-sidebar .icons {
	display: table;
	margin-bottom: 30px;
}
.massage-area-sidebar .icons ul li a { display: block; }
.massage-body .heading { margin-bottom: 90px; }
.massage-body .heading figure {
	float: left;
	position: relative;
}
.massage-body .heading .user-name { width: 86%; }
.massage-body .heading figure::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 18px;
	height: 18px;
	border-radius: 18px;
	background: #008009;
}
.massage { padding: 50px 0; }
.massage-body {
	padding: 30px 30px;
	border: 2px solid #f5f5f5;
	border-radius: 20px;
	-webkit-border-radius: 20px;
}
.msg-box { padding: 0 10px; }
.massage-area { max-width: 1260px; }
.massage-body form {
	background: #f8f8f8;
	padding: 25px 20px;
}
.massage-body form textarea { min-height: 240px; }
.msg-text { padding-right: 20px; }
.element input {
	border:0;
	background: url(images/upload.png) no-repeat 0 0;
}
.element { width: 46px; }
.massage-body form button {
	font-size: 21.32px;
	display: table;
	width: 100%;
	max-width: 225px;
	height: 43px;
	line-height: 43px;
	background: #17839e;
	padding: 0 15px;
	border-radius: 40px;
	margin-top: 15px;
}
.navbar-light .navbar-toggler {
	border-color: transparent;
	padding: 0;
}
.navbar-toggler:focus {
	outline: 0;
}

/*-----------------------------
  massaging
-----------------------------*/
.inbox_people {
	float: left;
	overflow: hidden;
	width: 32%;
	border: 2px solid #f5f5f5;
	padding: 40px 10px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
}
.inbox_msg {
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}
.chat_ib h5{
	font-size: 24.79px;
	font-weight: 500;
	color: #1b687b;
	line-height: 26px;
}
.chat_ib h5 span {
	display: block;
	font-size: 24.79px;
	font-weight: 300;
	color: #1b687b !important;
	font-style: italic;
	line-height: 19px;
}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
	float: left;
	width: 21%;
}
.chat_ib {
	float: left;
	padding: 13px 0 0 15px;
	width: 79%;
}
.chat_people {
	overflow: hidden;
	border: 3px solid #cfcfcf;
	padding: 20px 15px;
}
.icons {
	display: table;
	margin-bottom: 20px;
}
.chat_people {
	color: #1b687b;
}
.chat_list {
	margin: 0;
	padding: 10px 10px 10px 0;
}
.inbox_chat {
	height: 700px;
	overflow-y: scroll;
}
.incoming_msg_img {
	display: inline-block;
	width: 8.75%;
}
.outgoing_msg_img {
	width: 9%;
	float: right;
}
.received_msg {
	display: inline-block;
	padding: 0 0 0 20px;
	vertical-align: top;
	width: 90%;
}
 .received_withd_msg p {
	width: 100%;
}
.time_date {
	color: #747474;
	display: block;
	font-size: 12px;
	margin: 8px 0 0;
}
.received_withd_msg {
	background: #f8f8f8;
	width: 44%;
	padding: 15px 20px;
}
.mesgs {
	float: left;
	padding: 30px;
	width: 65%;
	border: 2px solid #f5f5f5;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	margin-left: 30px;
}
 .sent_msg p {
	margin: 0;
	padding: 5px 10px 5px 12px;
	width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
	float: right;
	width: 42%;
	padding: 0 20px 0 0;
}
.send_withd_msg {
	background: #f8f8f8;
}
.input_msg_write textarea {
	border: medium none;
	color: #4c4c4c;
	font-size: 15px;
	min-height: 240px;
	width: 100%;
	background: #fff;
}
.type_msg {
	position: relative;
	background: #f8f8f8;
	padding: 25px 20px;
}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging {
	padding: 0 0 50px 0;
	max-width: 1260px;
}
.msg_history {
	height: 516px;
	overflow-y: auto;
	margin-bottom: 50px;
}
.incoming_msg_img { position: relative; }
.incoming_msg_img::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 18px;
	height: 18px;
	border-radius: 18px;
	background: #008009;
}
.chat_img { position: relative; }
.chat_img::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 18px;
	height: 18px;
	border-radius: 18px;
	background: #008009;
}
.outgoing_msg_img { position: relative; }
.outgoing_msg_img::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 18px;
	height: 18px;
	border-radius: 18px;
	background: #008009;
}
/*==============================
	banner
================================*/
.banner {
	background: url(images/bg-banner.png) no-repeat center center;
	background-size: cover;
	padding: 125px 0 130px;
}
.bg2 {
	background: url(images/bg-banner2.png) no-repeat center center;
	background-size: cover;
}
.banner-info {
	padding-top: 126px;
	padding-left: 98px;
}
.banner-info h1 {
	font-size: 76.39px;
	line-height: 81px;
	font-weight: 600;
}
.banner-info p {
	font-size: 55.56px;
	line-height: 75px;
	font-weight: 100;
}
.button-area {
	max-width: 565px;
	padding-top: 175px;
	margin-bottom: 15px;
}
.banner-link {
	min-width: 256px;
	font-size: 30.16px;
	font-weight: 500;
	height: 50px;
	line-height: 50px;
	border: 3px solid #fff;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	margin: 0 13px;
	float: left;
	-webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.46);
	-moz-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.46);
	box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.46);
}
.banner-link a {
	color: #fff;
	display: block;
}

/*==============================
	slogan
================================*/
.slogan {
	background: #17839e;
	padding: 129px 0 83px 0;
}
.slogan-area h2 {
	font-size: 100.77px;
	font-weight: 700;
	line-height: 95px;
	margin-bottom: 20px;
}
.slogan-area p {
	font-size: 30.98px;
	font-weight: 300;
	line-height: 38px;
}

/*==============================
	hero
================================*/
.hero { position: relative; }
.hero > figure {
	max-height: 1000px;
	overflow: hidden;
}
.hero > figure img {
	width: 100%;
	height: 100%;
}
.hero-area {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
}
.hero-info { max-width: 1430px; }
.hero-info h1 {
	font-size: 187.5px;
	font-weight: 700;
	line-height: 164px;
}
.hero-info h1 span {
	display: block;
	font-size: 152.78px;
	font-weight: 600;
}
.hero-info p {
	font-size: 42.48px;
	font-weight: 300;
	line-height: 66px;
}
.hero-info .button-area {
	max-width: 100%;
	margin-top: 395px;
}
.button-area .link {
	font-size: 51.5px;
	font-weight: 700;
	float: left;
	margin: 0 42px;
	height: 123px;
	width: 100%;
	max-width: 435px;
	line-height: 123px;
	border: 3px solid #fff;
	border-radius: 20px;
	-webkit-border-radius: 20px;
}
.button-area .link a {
	display: block;
	color: #17839e;
}

/*==============================
	business
================================*/
.business { padding: 53px 0 188px 0; }
.business-area { margin-bottom: 240px; }
.business-area .item { margin-bottom: 45px; }
.business-area .item h2 {
	font-size: 90.6px;
	font-weight: 700;
	color: #17839e;
	line-height: 104px;
	margin-bottom: 45px;
}
.business-area .item h3 {
	font-size: 24.31px;
	font-weight: 500;
	color: #17839e;
	line-height: 44px;
	margin-bottom: 50px;
}
.business-area .item p {
	font-size: 24.31px;
	color: #17839e;
	line-height: 45px;
}
.social-area h3 {
	font-size: 41.67px;
	font-weight: 500;
	color: #17839e;
	line-height: 52px;
	margin-bottom: 30px;
}
.social-area ul li {
	font-size: 30px;
	height: 60px;
	width: 60px;
	line-height: 60px;
	border-radius: 60px;
	-webkit-border-radius: 60px;
	background: #4d97ad;
	margin-right: 7px;
}
.social-area ul li a { display: block; }
.nav-tabs { border-bottom: 0; }
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: #17839e;
	background-color: initial;
	border: 0;
	border-bottom: 4px solid #1787a3;
}
.nav-tabs .nav-link { border: 0;  }
.tab-area ul { max-width: 980px; }
.tab-area ul li {
	font-size: 31.01px;
	background: #fff;
	line-height: 63px;
	padding: 29px 25px 41px 25px;
}
.tab-area ul li a { color: #666; }
.tab-content { padding-top: 140px; }

/*==============================
	support
================================*/
.support { padding: 72px 0 50px 0; }
.support-area {
	max-width: 1690px;
	margin-left: 91px;
}
.support-area h3 {
	font-size: 41.67px;
	font-weight: 500;
	line-height: 83px;
	margin-bottom: 14px;
	color: #17839e;
}
.support-area p {
	font-size: 24.31px;
	font-weight: 300;
	line-height: 27px;
	color: #17839e;
}
.support-area .social {
	margin-top: 55px;
	margin-left: 30px;
}
.support-area .social ul {
	float: none;
	margin: 0;
}
.support-area .social ul li {
	font-size: 30px;
	height: 60px;
	width: 60px;
	line-height: 60px;
	border-radius: 60px;
	-webkit-border-radius: 60px;
	background: #4d97ad;
	margin-right: 7px;
}
.contact-form h3 {
	font-size: 41.67px;
	font-weight: 500;
	line-height: 49px;
	margin-bottom: 34px;
	color: #17839e;
}
.contact-form form {
	background: #f8f8f8;
	padding: 44px 26px 43px 42px;
}
.contact-form form label {
	font-size: 24.31px;
	color: #17839e;
	width: 29%;
	float: left;
	line-height: 53px;
}
.contact-form form input {
	width: 68%;
	float: right;
	border: 1px solid #808080;
	line-height: 51px;
	padding: 0 21px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 0 6px;
}
.contact-form form .form-group { margin-bottom: 25px; }
.contact-form form textarea {
	min-height: 315px !important;
	background: #f8f8f8;
}
.contact-form form button {
	display: table;
	background: #17839e;
	min-width: 225px;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	line-height: 43px;
}
.contact-form form input::placeholder,
.contact-form form textarea::placeholder {
	font-style: italic;
}

/*==============================
	seller
================================*/
.seller {padding: 66px 0;}
.seller-area .title { margin-bottom: 30px; }
.seller-area .title h4 {
	font-size: 41.67px;
	font-weight: 700;
	line-height: 55px;
	color: #478a9b;
}
.seller-carousel { position: relative; }
.owl-carousel .owl-nav button.owl-next {
	position: absolute;
	top: 50%;
	right: -63px;
	width: 74px;
	height: 74px;
	transform: translateY(-50%);
	background: url(images/arrow-circle-right.png) no-repeat  25px 17px;
	background-color: #f4f4f4;
	border-radius: 100%;
}
.owl-carousel .owl-nav button.owl-prev {
	position: absolute;
	top: 50%;
	left: -63px;
	width: 74px;
	height: 74px;
	transform: translateY(-50%);
	background: url(images/arrow-circle-left.png) no-repeat 23px 17px;
	background-color: #f4f4f4;
	border-radius: 100%;
}
.owl-carousel .owl-nav button.owl-next span { font-size: 0; }
.owl-carousel .owl-nav button.owl-prev span { font-size: 0; }
.seller-item { margin: 0 23px 68px 23px; }
.seller-item > figure {
	border: 1px solid #cfcfcf;
	border-radius: 20px;
}
.seller-item h4 {
	color: #afafb1;
	font-size: 12px;
	line-height: 16px;
}
.seller-item p {
	color: #afafb1;
	font-size: 12px;
	line-height: 16px;
}
.seller-info {
	position: relative;
	border: 2px solid #cfcfcf;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	padding: 21px 19px 17px 19px;
}
.user { margin-bottom: 15px; }
.user > figure {
	float: left;
	position: relative;
	width: 67px;
	height: 66px;
	border-radius: 100%;
	-webkit-border-radius: 100%;
}
.user > figure::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 18px;
	height: 18px;
	border-radius: 18px;
	background: #008009;
}
.user-name {
	padding: 11px 0;
	float: right;
	width: 80%;
}
.user-name .info { float: left; }
.user-name .info h5 {
	font-size: 16.45px;
	line-height: 19px;
	color: #1b687b;
	margin-bottom: 7px;
}
.user-name .info p {
	font-size: 13.78px;
	line-height: 19px;
	color: #17839e;
}
.user-name a { float: right; }
.seller-info h4 {
	font-size: 18.49px;
	line-height: 22px;
	margin-bottom: 30px;
	color: #1b687b;
}
.seller-area-wrap .border {
	border-top: 0 !important;
	border-left: 0 !important;
	border-right: 0 !important;
}
.seller-area-wrap { padding: 44px 0 50px 0; }
.seller-view .seller { margin-bottom: 170px; }
.price ul { float: left; }
.price ul li {
	color: #f8de08;
	margin: 0 3px;
	font-size: 30px;
}
.price span {
	display: inline-block;
	font-size: 32.96px;
	line-height: 34px;
	float: right;
	font-weight: 700;
	color: #1b687b;
}
.seller-carousel .flex-control-nav { bottom: 0px; }
.seller-carousel .flex-control-paging li a {
	width: 14px;
	height: 14px;
}
.seller-carousel .flex-control-paging li a.flex-active {
	height: 14px;
	width: 14px;
}
.filter form {
	padding: 0 42px;
	margin: 45px 0 40px 0;
}
.filter form .form-group {
	float: left;
	width: 88%;
	position: relative;
}
.filter form .form-group span {
	display: block;
	font-size: 20.83px;
	font-style: italic;
	color: #17839e;
	line-height: 24px;
	margin-top: 10px;
}
.filter form input {
	width: 100%;
	border: 2px solid #17839e;
	line-height: 58px;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	padding-left: 100px;
}
.filter form input::placeholder {
	font-size: 21.59px;
	font-weight: 300;
	font-style: italic;
	color: #b0b0b0;
}
.filter form input.search {
	background: url(images/search.png) no-repeat 24px 12px;
	width: 100px;
	position: absolute;
	top: 2px;
	left: 2px;
	z-index: 999;
}
.filter form button {
	font-size: 16.44px;
	font-weight: 500;
	float: left;
	background: #17839e;
	color: #fff;
	line-height: 41px;
	border: 0;
	border-radius: 40px;
	-webkit-border-radius: 40px;
	padding: 0 31px;
	margin-left: 20px;
	margin-top: 12px;
}
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 20px;
	width: 45px;
	background-color: #cececf;
	-webkit-transition: .4s;
	transition: .4s;
}
.slider:before {
	position: absolute;
	content: "";
	height: 24px;
	width: 24px;
	left: 0;
	bottom: -2px;
	background-color: #12849f;
	-webkit-transition: .4s;
	transition: .4s;
}
input:checked + .slider { background-color: #cececf; }
input:focus + .slider { box-shadow: 0 0 1px #2196F3; }
input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}
.slider.round { border-radius: 34px; }
.slider.round:before { border-radius: 50%; }
.switch-item {
	float: left;
	margin-left: 27px;
}
.switch-item span {
	font-size: 20.83px;
	font-weight: 500;
	color: #12849f;
	padding-right: 20px;
}
.switch-area { float: right; }
.filter { padding: 0 15px; }
.filter-area {
	padding: 0 15px;
	margin-bottom: 44px;
}
.filter-area ul li {
	font-size: 20.83px;
	font-style: italic;
	width: 100%;
	max-width: 217px;
	line-height: 38px;
	border: 4px solid #17839e;
	border-radius: 45px;
	-webkit-border-radius: 45px;
	margin-right: 35px;
}
.filter-area ul li a {
	display: block;
	padding: 0 30px 0 60px;
}
.filter-area ul li a span {
	display: block;
	background: url(images/angle-bottom.png) no-repeat right center;
	padding-right: 30px;
}
.filter-area ul li .dropdown-toggle::after {
	display: none;
}

/*-----pagination-----*/
.sort {
	font-size: 20.83px;
	color: #17839e;
	max-width: 1300px;
	line-height: 34px;
	margin-bottom: 27px;
}
.sort a {
	background: url(images/angle-bottom.png) no-repeat right center;
	padding: 0 30px;
}
.pagination { display: table; }
.pagination ul li {
	font-size: 22.13px;
	font-weight: 300;
	min-width: 34px;
	min-height: 34px;
	line-height: 34px;
	border: 1px solid #e9e9e9;
	text-align: center;
	margin: 0 13px;
}
.pagination ul li a {
	display: block;
	color: #17839e;
}
.pagination ul li a.active { font-weight: 600; }

/*==============================
	service
================================*/
.service { position: relative; }
.service > figure {
	width: 100%;
	height: 100%;
	overflow: hidden;
	max-height: 1000px;
}
.service > figure img {
	width: 100%;
	height: 100%;
}
.service-area {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
	width: 100%;
	height: 100%
}
.service-info { max-width: 1345px; }
.service-info h3 {
	font-size: 97.22px;
	font-weight: 700;
	line-height: 118px;
	margin-bottom: 12px;
}
.service-info p {
	font-size: 41.67px;
	font-weight: 300;
	margin-bottom: 12px;
	line-height: 66px;
}
.service-area-link {
	overflow: hidden;
	display: table;
	width: 100%;
	max-width: 422px;
	min-height: 81px;
	line-height: 81px;
	font-size: 40.17px;
	background: #17839e;
	border-radius: 23.5px;
	-webkit-border-radius: 23.5px;
	-webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.46);
	-moz-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.46);
	box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.46);
	margin-top: 115px;
}
.service-area-link a {
	display: block;
	padding: 0 15px;
}

/*==============================
	policy
================================*/
.policy {
	background: #17839e;
	padding: 126px 0 89px 0;
}
.policy-info { max-width: 1345px; }
.policy-info h3 {
	font-size: 97.22px;
	font-weight: 700;
	line-height: 118px;
	margin-bottom: 12px;
}
.policy-info p {
	font-size: 41.67px;
	font-weight: 300;
	margin-bottom: 12px;
	line-height: 66px;
}
.policy-area-link {
	overflow: hidden;
	display: table;
	width: 100%;
	max-width: 422px;
	min-height: 81px;
	line-height: 81px;
	font-size: 40.17px;
	background: #fff;
	border-radius: 23.5px;
	-webkit-border-radius: 23.5px;
	-webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.46);
	-moz-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.46);
	box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.46);
	margin-top: 115px;
}
.policy-area-link a {
	display: block;
	padding: 0 15px;
	color: #17839e;;
}
.freelancer-rate .item { margin-bottom: 30px; }
.freelancer-rate figure { margin-bottom: 25px; }
.freelancer-rate .item h4 {
	font-size: 18.62px;
	line-height: 34px;
	color: #17839e;
}

/*==============================
	explore
================================*/
.explore { padding: 105px 0; }
.explore-area { max-width: 1580px; }
.explore-item figure {
	display: table;
	position: relative;
	margin-bottom: 106px;
}
.explore-item { margin-top: 152px; }
.explore-item figure::after {
	content: '';
	position: absolute;
	bottom: -44px;
	left: 50%;
	width: 146px;
	height: 3px;
	background: #404041;
	transform: translateX(-50%);
}
.explore .heading h3 {
	font-size: 41.47px;
	font-weight: 700;
	line-height: 60px;
	color: #328092;
}
.explore-item h4 {
	font-size: 28.22px;
	font-weight: 700;
	line-height: 53px;
	color: #193142;
}

/*==============================
	special-links
================================*/
.special-links {
	background: #188fad;
	padding: 125px 0;
}
.special-links-area { max-width: 1608px; }
.special-links-item h4 {
	font-size: 34.75px;
	font-weight: 500;
	line-height: 57px;
	color: #fff;
	margin-bottom: 40px;
}
.special-links-item ul li {
	font-size: 23.17px;
	font-weight: 300;
	line-height: 57px;
}
.special-links-item ul li a { color: #fff; }
.special-links-item.category { padding-left: 75px; }
.special-links-item.about { padding-left: 80px; }
.special-links-item.support {
	padding-left: 80px;
	padding-top: 0;
}
.special-links-item.community { padding-left: 48px; }

/*==============================
	description
================================*/
.description-area { padding: 86px 0 40px 0; }
.description-area h3 {
	font-size: 41.67px;
	color: #17839e;
	line-height: 56px;
	margin-bottom: 25px;
}
.gig-user { float: left; }
.gig-user figure {
	float: left;
	position: relative;
}
.gig-user figure::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 18px;
	height: 18px;
	border-radius: 18px;
	background: #008009;
}
.name {
	float: left;
	margin-top: 11px;
	padding-left: 22px;
	padding-right: 55px;
}
.name h5 {
	font-size: 22.57px;
	color: #1b687b;
	line-height: 23px;
	margin-bottom: 13px;
}
.name p {
	font-size: 18.91px;
	color: #1b687b;
	font-style: italic;
	line-height: 19px;
}
.rating { float: left; }
.rating ul li {
	margin: 0 2px;
	color: #f8de08;
}
.gig-info .info {
	float: left;
	padding-left: 95px;
}
.gig-info .info h4 {
	font-size: 22.57px;
	color: #1b687b;
	line-height: 42px;
}
.gig-info .user-name {
	width: initial;
	float: left;
}
.gig-desc h4 {
	font-size: 41.67px;
	font-weight: 500;
	color: #17839e;
	line-height: 60px;
	margin-bottom: 12px;
}
.gig-desc p {
	font-size: 24.31px;
	font-weight: 300;
	color: #17839e;
	line-height: 30px;
	margin-bottom: 25px;
}
.main-wrap { margin-top: 25px; }
.main-wrap .info h5 {
	font-size: 27.78px;
	font-weight: 500;
	color: #17839e;
	line-height: 36px;
	margin-bottom: 15px;
}
.main-wrap .info p {
	font-size: 20.83px;
	font-style: italic;
	font-weight: 300;
	color: #17839e;
	line-height: 26px;
}
.slider-area { position: relative; }
.play {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 999;
	transform: translate(-50%,-50%);
}
.sidebar .item {
	border: 2px solid #cfcfcf;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	padding: 40px 15px 35px 15px;
	margin-bottom: 27px;
}
.exchange-link {
	display: table;
	font-size: 22.26px;
	font-weight: 700;
	background: #17839e;
	height: 54px;
	line-height: 54px;
	border-radius: 54px;
	-webkit-border-radius: 54px;
	-webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.46);
	-moz-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.46);
	box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.46);
}
.exchange-link a {
	display: block;
	padding: 0 44px;
}
.sidebar .item h5 {
	font-size: 19.95px;
	font-weight: 700;
	line-height: 32px;
	margin-bottom: 22px;
	color: #1b687b;
}
.sidebar .item p {
	font-size: 20.83px;
	color: #17839e;
	font-style: italic;
}
.sidebar .item h4 {
	font-size: 27.78px;
	color: #17839e;
	line-height: 33px;
	margin-bottom: 35px;
}
.sidebar .item > figure {
	display: table;
	margin-bottom: 16px;
}
.quote-link {
	display: table;
	font-size: 16.86px;
	background: #17839e;
	height: 34px;
	line-height: 34px;
	border-radius: 34px;
	-webkit-border-radius: 34px;
	-webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.46);
	-moz-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.46);
	box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.46);
}
.quote-link a {
	display: block;
	padding: 0 40px;
}
.contact-link {
	display: table;
	border: 3px solid #17839e;
	border-radius: 54px;
	-webkit-border-radius: 54px;
	line-height: 48px;
	height: 48px;
	margin-top: 34px;
}
.contact-link a {
	display: block;
	padding: 0 40px;
	color: #17839e;
}
.sidebar .item .user-name {
	width: initial;
	float: none;
}
.sidebar .item .rating {
	float: none;
	margin-top: 25px;
	margin-bottom: 28px;
}
.sidebar .item .rating ul { display: table; }
.sidebar .item .rating ul li {
	float: left;
	color: #f8de08;
}
.sidebar .item ul li {
	font-size: 24.31px;
	line-height: 48px;
	color: #17839e;
}
.sidebar .item ul li .left {
	float: left;
	font-weight: 500;
}
.sidebar .item ul li .right {
	float: right;
	font-weight: 700;
}
.sidebar .item ul { margin-bottom: 40px; }
.description-area { max-width: 1260px; }
.sidebar .item > p { line-height: 26px; }
.main { max-width: 1260px; }
#video-slider .flex-direction-nav .flex-prev {
	left: -40px;
	opacity: 1;
	background-color: #f4f4f4;
	height: 74px;
	width: 74px;
	border-radius: 100%;
}
#video-slider .flex-direction-nav .flex-next {
	right: -40px;
	opacity: 1;
	background-color: #f4f4f4;
	height: 74px;
	width: 74px;
	border-radius: 100%;
}
.main-wrap .info { margin-bottom: 50px; }
.sign-up h5 {
	font-size: 17.36px;
	font-weight: 300;
	font-style: italic;
	line-height: 22px;
	color: #17839e;
}
.sign-up-link {
	display: table;
	font-size: 24.31px;
	width: 100%;
	max-width: 255px;
	background: #17839e;
	line-height: 49px;
	border: 0;
	border-radius: 50px;
	margin-top: 36px;
}
.sign-up-link a { display: block; }
.social-login {
	margin: 25px 0 50px 0;
	position: relative;
}
.social-login::after {
	content: '';
	position: absolute;
	top: 18px;
	left: 0;
	width: 100%;
	height: 3px;
	background: #dbdbdb;
	z-index: 0;
}
.social-login span {
	display: table;
	font-size: 20.83px;
	line-height: 36px;
	padding: 0 20px;
	position: relative;
	z-index: 999;
	background: #f8f8f8;
	color: #17839e;
}
.social-login p {
	font-size: 20.83px;
	line-height: 44px;
	color: #17839e;
}
.reviews {
	border: 2px solid #cfcfcf;
	margin: 0 12px;
	padding: 40px 30px;
	border-radius: 20px;
}
.reviews .heading .title {
	float: left;
	margin-bottom: 60px;
}
.reviews .heading .title h4 {
	font-size: 38.32px;
	font-weight: 700;
	line-height: 43px;
	color: #328092;
}
.reviews .heading .link { float: right; }
.top-info {
	float: left;
	margin-bottom: 30px;
}
.timeline { float: right; }
.timeline p {
	font-size: 20.5px;
	color: #17839e;
	line-height: 30px;
}
.top-info > figure { float: left; }
.star {
	float: left;
	margin-top: 25px;
}
.star ul li {
	font-size: 24.31px;
	line-height: 48px;
	color: #f8de08;
}
.top-info .name { margin-top: 25px; }
.top-info .name span {
	display: inline-block;
	font-size: 20.5px;
	font-style: italic;
	color: #17839e;
	background: url(images/flag.png) no-repeat left center;
	padding-left: 30px;
	margin-top: 5px;
}
.reviews-box p {
	line-height: 44px;
	font-size: 27.34px;
	font-weight: 300;
	color: #17839e;
}
.reviews-box { margin-bottom: 50px; }
.reviews .heading .link {
	font-size: 20.5px;
	font-style: italic;
	width: 100%;
	height: 44px;
	border-radius: 44px;
	line-height: 40px;
	max-width: 210px;
	border: 3px solid #17839e;
}
.reviews .heading .link a {
	display: block;
	padding: 0 20px;
	color: #17839e !important;
}
.reviews .heading .link a span {
	display: block;
	padding: 0 15px;
	background: url(images/angle-bottom.png) no-repeat right center;
}
.timeline { margin-top: 25px; }
.review-box-wrap {
	max-height: 800px;
	overflow-y: auto;
}

/*==============================
	registration
================================*/
.registration {}
.registration-form {
	padding: 0 15px;
	margin-bottom: 30px;
}
.registration-form h4 {
	font-size: 41.67px;
	line-height: 60px;
	margin-bottom: 44px;
	color: #328092;
}
.registration-form form {
	max-width: 500px;
	background: #f8f8f8;
	border: 2px solid #d7d7d7;
	padding: 46px 40px 50px 40px;
	border-radius: 5px;
}
.registration-form form label {
	display: block;
	font-size: 21.36px;
	color: #17839e;
	line-height: 29px;
}
.registration-form form input { line-height: 34px; }
.registration-form form input::placeholder {
	font-style: italic;
	text-align: center;
}
.registration-form form button {
	display: table;
	font-size: 24.31px;
	width: 100%;
	max-width: 255px;
	background: #17839e;
	line-height: 49px;
	border: 0;
	border-radius: 50px;
	margin-top: 46px;
}
.social-login-wrap .item {
	float: left;
	width: 50%;
	padding: 10px;
}
.social-login-wrap .item figure { display: table; }
.social-login-wrap .item h4 {
	font-size: 21.36px !important;
	line-height: 33px ;
	margin-bottom: 0;
	color: #328092;
}
.sign-up {
	border: 2px solid #d7d7d7;
	padding: 36px 40px 55px 40px;
	margin-bottom: 30px;
	border-radius: 5px;
}

/*==============================
	massage
================================*/
.user-info > figure {
	float: left;
	position: relative;
}
.user-info > figure::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 18px;
	height: 18px;
	border-radius: 18px;
	background: #008009;
}
.box {
	border: 3px solid #cfcfcf;
	padding: 20px 15px;
	margin-bottom: 20px;
}
.massage-area-sidebar {
	border: 2px solid #f5f5f5;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	padding: 40px 10px;
}
.user-info .user-name h5 {
	font-size: 24.79px;
	font-weight: 500;
	color: #1b687b;
	line-height: 26px;
	margin-bottom: 10px;
}
.user-info .user-name span {
	font-size: 24.79px;
	font-weight: 300;
	color: #1b687b !important;
	font-style: italic;
	line-height: 19px;
}
.box p {
	font-size: 24.79px;
	font-weight: 300;
	color: #1b687b;
	line-height: 42px;
}
.user-info { margin-bottom: 20px; }
.box-wrap {
	max-height: 800px;
	overflow-y: auto;
}
.msg-box-area figure {
	float:left;
	position: relative;
}
.msg-box-area .text {
	float: right;
	background: #f8f8f8;
	padding: 15px 20px;
	margin: 0 30px;
}
.msg-box-area {
	display: table;
	margin-bottom: 40px;
}
.msg-box-area:nth-child(2n) { margin-left: auto; }
.msg-box-area:nth-child(2n) figure { float:right;  }
.msg-box-area:nth-child(2n) .text { float: left; }
.msg-box-area > figure::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 18px;
	height: 18px;
	border-radius: 18px;
	background: #008009;
}
/*==============================
	order
================================*/
.order {
	padding: 50px 0;
}
.order-item {
	border: 2px solid #cfcfcf;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	padding: 20px 30px;
	margin-bottom: 20px;
}
.order-desc h4 {
	font-size: 41.67px;
	font-weight: 500;
	color: #17839e;
	line-height: 60px;
	margin-bottom: 12px;
}
.order-desc p {
	font-size: 24.31px;
	font-weight: 300;
	color: #17839e;
	line-height: 30px;
	margin-bottom: 25px;
	margin-top: 20px;
}
.order .sidebar .item .exchange-link {
	position: inherit!important;
	bottom: 80px;
	right: 40px;
	z-index: 99;
}
.order .sidebar { padding-bottom: 30px; }
.order .sidebar .item {
	padding: 20px 15px 20px 15px;
	display: table;
	height: 100%;
}
.accept {
	line-height: 40px;
	float: left;
	background: #17839e;
	border-radius: 4px;
	-webkit-border-radius: 4px;
}
.accept a {
	padding: 0 25px;
	display: block;
}
.reject {
	line-height: 40px;
	float: left;
	background: #cfcfcf;
	border-radius: 4px;
	-webkit-border-radius: 4px;
}
.reject a {
	padding: 0 25px;
	display: block;
	color: #193142;
}
.order-item .action {
	float: right;
}
.order-desc .title {
	float: left;
}
.order-desc .status {
	float: right;
}
.order-desc .status p {
	font-weight: 600;
	color: #193142;
	margin: 0 0;
}
.order-area .top-info {
	float: none;
}
.order-area .name {
	float: none;
}
.order-area .star {
	float: none;
}
.order-area .star li span {
	color: initial;
	display: inline-block;
	width: 66%;
}
.order-area .reviews-box {
	border: 2px solid #cfcfcf;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	padding: 20px 20px;
	margin-bottom: 20px;
}
.reviews-box form button {
	background: #17839e;
}


/*==============================
	footer-area
================================*/
footer { padding: 41px 0; }
.copyright {
	padding: 39px 0 25px 0;
	float: left;
}
.copyright p {
	font-size: 29.67px;
	font-weight: 300;
	line-height: 46px;
	color: #1889a5;
}
.footer-logo { max-width: 690px; }
.footer-logo figure {
	float: left;
	padding: 0 41px;
}
.social ul {
	float: right;
	margin: 35px 0 36px 0;
}
.social ul li {
	min-width: 50px;
	font-size: 30px;
}
.social ul li a {
	color: #332f33;
	display: block;
}
.delivery {
	background: url(images/clock.png) no-repeat left center;
	padding-left: 30px;
}
.delivery h4 { font-size: 16px !important; }
.revision {
	background: url(images/revision.png) no-repeat left center;
	padding-left: 30px;
	float: right;
}
.revision h4 { font-size: 16px !important; }
